body {
    margin: 15px 20px 15px 5px;
    font-family: 'Khula', sans-serif;
}

button {
  background-color: #DE9302;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
}

.gallery {
  margin: 0px 8% 0px 8%;
  height: 600px;
  overflow: scroll;
}

#name {
    font-size: 30px;
}

.sub {
  font-size: 16px;
}

#joyful {
  color: #DE9302;
}

#meaningful {
  color: #809BC6;
}

#rightnav {
    text-align:right;
    padding-top: 15px;
}

#rightnav a {
    padding-left: 20px;
}

div#radardiv {
  height:300px
}

#radarLabel {
  padding
}

.overlay {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.overlay_text {
  background-color: white;
  padding: 5% 10% 5% 10%;
}

.img {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.thumbnail#t1 {
  animation: 1.5s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
 }

.thumbnail#t2 {
  animation: 1.5s fadeIn;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
  visibility: hidden;
}

.thumbnail#t3 {
  animation: 1.5s fadeIn;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
  visibility: hidden;
}

.thumbnail:hover .img {
  opacity: 0.1;
}

.thumbnail:hover .overlay {
  opacity: 1;
}

.text {
  text-align: center;
}

hr {
    margin-top: 5px;
    margin-bottom: 0px;
}

/* Hide the link that should open and close the topnav on small screens */
.icon {
    display: none;
  }

/* .fa-bars:after{ */
    /* content: "\f0c9"; */
/* } */
  
  #rightnav a {
    color: black;
  }

  /* Add an active class to highlight the current page */
  #rightnav a.active {
    color: #DE9302;
  }

@media screen and (max-width: 770px) {
    #rightnav a:not(:first-child) {display: none;}
    #rightnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 770px) {
    #rightnav.responsive {position: relative;}
    #rightnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    #rightnav.responsive a {
      float: none;
      display: block;
      text-align: right;
    }
  }

  /* transitions on load https://stackoverflow.com/questions/6805482/css3-transition-animation-on-load */
  /* css tooltip https://www.w3schools.com/css/css_tooltip.asp */