body {
    margin: 15px 20px 15px 5px;
    font-family: 'Khula', sans-serif;
    /* max-height: 900px; */
    max-width: 1300px;
    line-height: 1;
}

button {
  background-color: #DE9302;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
}

.container.text-center.my-3 {
  height: 25%;
}

.gallery {
  margin: 0px 8% 0px 8%;
}

#name {
    font-size: 24px;
}

.sub {
  font-size: 14px;
}

.btn-success {
  background-color: #809BC6;
  border-color: #809BC6;
  font-size: 12px;
  margin-bottom: 10px;
  position: absolute;
  right: 0;
  margin-right: 25%;
}

@media screen and (max-width:1000px) {
  .btn-success {margin-right:0%;}
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
  color: #fff;
  background-color: #506D9C;
  border-color: #506D9C;
  box-shadow: none;
}

h3{
  margin-top: 10px;
  margin-bottom: 15px;
}

h4 {
  margin-top: 30px;
  font-size: 1.75vw;
}

@media screen and (max-width:800px) {
  h4 {font-size: 3vw;}
}

@media screen and (max-width:600px) {
  #name {font-size: 20px; }
  .sub {font-size: 12px; }
}


#joyful {
  color: #DE9302;
}

#meaningful {
  color: #809BC6;
}

#name #design {
  color: black;
}

.text {
  text-align: center;
}

hr {
    margin-top: 5px;
    margin-bottom: 0px;
}


/* start of menu */
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Float the list items side by side */
ul.topnav li {float: right;}

/* Style the links inside the list items */
ul.topnav li a {
  display: inline-block;
  text-align: center;
  padding-top: 15px;
  padding-left: 20px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 14px;
}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

/* end of menu */

.overlay {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.overlay_text {
  background-color: white;
  padding: 15% 5% 5% 5%;
}

.img {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

#lowerHalf {
  animation: 2s fadeIn;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  visibility: hidden;
 }

 #recipeCarousel {
  animation: 2s fadeIn;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
  visibility: hidden;
 }

 .btn-success {
  animation: 1.5s fadeIn;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  visibility: hidden;
}



/* .thumbnail#t1 {
  animation: 1.5s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
 }

.thumbnail#t2 {
  animation: 1.5s fadeIn;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
  visibility: hidden;
}

.thumbnail#t3 {
  animation: 1.5s fadeIn;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
  visibility: hidden;
} */

.card:hover .img-fluid {
  opacity: 0.1;
}

.card:hover .overlay {
  opacity: 1;
}

/* Hide the link that should open and close the topnav on small screens */
.icon {
    display: none;
  }

/* .fa-bars:after{ */
    /* content: "\f0c9"; */
/* } */
  
  #rightnav a {
    color: black;
  }

  /* Add an active class to highlight the current page */
  li a {
    color: black;
  }

  li.active a {
    color: #DE9302;
  }

  /* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:800px) {
  ul.topnav li {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:800px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: right;
  }
}

/* carousel */

  @media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }
    
    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}

  /* transitions on load https://stackoverflow.com/questions/6805482/css3-transition-animation-on-load */
  /* css tooltip https://www.w3schools.com/css/css_tooltip.asp */